openapi: 3.0.0
info:
  title: Vern API
  version: "1.0.0"
  description: >
    The Vern API allows users to create browser agents to perform tasks on their behalf.
    It supports creating and retrieving task runs.
servers:
  - url: https://vern.so/api/v1
paths:
  /runs:
    post:
      summary: Create a new run
      description: >
        Starts a task run. Accepts a required task ID and a flexible inputs object.
      operationId: createRun
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                taskId:
                  type: string
                inputs:
                  type: object
                  description: Task input parameters (schema depends on task).
                  additionalProperties: true
              required:
                - taskId
                - inputs
      responses:
        "201":
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRunResponse"
        "400":
          description: Bad request
        "401":
          description: Unauthorized

  /runs/{id}:
    get:
      summary: Get a specific run
      description: Retrieve a task run by its ID.
      operationId: getRun
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Run found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRunResponse"
        "404":
          description: Run not found
        "401":
          description: Unauthorized

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  schemas:
    Run:
      type: object
      properties:
        id:
          type: string
        task:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        inputs:
          type: object
          additionalProperties: true
        response:
          description: Task output (if available)
          nullable: true
      required:
        - id
        - task
        - status
        - created_at
        - inputs

    CreateRunResponse:
      type: object
      properties:
        id:
          type: string
        queued_at:
          type: string
          format: date-time
        inputs:
          type: object
          additionalProperties: true
      required:
        - id
        - queued_at
        - inputs

    GetRunResponse:
      allOf:
        - $ref: "#/components/schemas/Run"

    RunResponse:
      # Deprecated, kept for backward compatibility
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          additionalProperties: true
      required:
        - status
        - data
